apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: homework-agent-api
  namespace: homework-agent
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: homework-agent-api
  minReplicas: 2
  maxReplicas: 20
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
